In [11]:
import numpy as np 
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import random

%matplotlib inline

In [12]:
## data frame extracted from IMDB by movieID (top-500 in TMDB)
top500_IMDB = pd.read_csv("IMDb_data.txt")

In [13]:
top500_IMDB.columns.values

array(['Unnamed: 0', 'title', 'genres', 'director', 'distributors', 'year',
       'rating', 'votes', 'runtimes', 'language codes', 'languages',
       'producer', 'mpaa', 'writer', 'top 250 rank', 'kind',
       'country codes', 'countries', 'cover url', 'aspect_ratio',
       'production companies', 'cinematographer', 'plot outline', 'plot',
       'cast', 'animation department', 'original music', 'canonical title',
       'editorial department', 'canonical title.1', 'long imdb title',
       'long imdb canonical title', 'smart canonical title',
       'smart long imdb canonical title', 'full-size cover url', 'imdb_ids'], dtype=object)

In [14]:
top500_IMDB.head()

,Unnamed: 0,title,genres,director,distributors,year,rating,votes,runtimes,language codes,...,original music,canonical title,editorial department,canonical title.1,long imdb title,long imdb canonical title,smart canonical title,smart long imdb canonical title,full-size cover url,imdb_ids
0,1,Beauty and the Beast,"[u'Family', u'Fantasy', u'Musical', u'Romance']","[<Person id:0174374[http] name:_Condon, Bill_>]",[<Company id:0271257[http] name:_Feelgood Ente...,2017.0,7.8,70363.0,[u'129'],[u'en'],...,"[<Person id:0579678[http] name:_Menken, Alan_>]",Beauty and the Beast,"[<Person id:3351208[http] name:_Amron, Joey_>,...",Beauty and the Beast,Beauty and the Beast (2017),Beauty and the Beast (2017),Beauty and the Beast,Beauty and the Beast (2017),https://images-na.ssl-images-amazon.com/images...,2771200
1,2,Logan,"[u'Action', u'Drama', u'Sci-Fi', u'Thriller']","[<Person id:0003506[http] name:_Mangold, James_>]",[<Company id:0078923[http] name:_20th Century ...,2017.0,8.5,202525.0,"[u'141', u'China:122::(Mainland China Censored...","[u'en', u'es']",...,"[<Person id:0001937[http] name:_Beltrami, Marc...",Logan,"[<Person id:1313707[http] name:_Berri, John_>,...",Logan,Logan (2017),Logan (2017),Logan,Logan (2017),https://images-na.ssl-images-amazon.com/images...,3315342
2,3,Sing,"[u'Animation', u'Comedy', u'Family', u'Music']","[<Person id:1134029[http] name:_Jennings, Gart...",[<Company id:0164264[http] name:_Andes Films_>...,2016.0,7.2,45017.0,[u'108'],"[u'en', u'ja', u'uk']",...,"[<Person id:0847926[http] name:_Talbot, Joby_>]",Sing,"[<Person id:2558402[http] name:_Abbate, Lia_>,...",Sing,Sing (2016),Sing (2016),Sing,Sing (2016),https://images-na.ssl-images-amazon.com/images...,3470600
3,4,Kong: Skull Island,"[u'Action', u'Adventure', u'Fantasy', u'Sci-Fi']","[<Person id:3611349[http] name:_Vogt-Roberts, ...",[<Company id:0041079[http] name:_Karo Premiere...,2017.0,7.1,57939.0,[u'118'],"[u'en', u'vi']",...,"[<Person id:2273444[http] name:_Jackman, Henry_>]",Kong: Skull Island,"[<Person id:3403721[http] name:_Albornoz, Noel...",Kong: Skull Island,Kong: Skull Island (2017),Kong: Skull Island (2017),Kong: Skull Island,Kong: Skull Island (2017),https://images-na.ssl-images-amazon.com/images...,3731562
4,5,Jurassic World,"[u'Action', u'Adventure', u'Sci-Fi']","[<Person id:1119880[http] name:_Trevorrow, Col...",[<Company id:0164264[http] name:_Andes Films_>...,2015.0,7.0,450063.0,[u'124'],[u'en'],...,"[<Person id:0315974[http] name:_Giacchino, Mic...",Jurassic World,"[<Person id:3161462[http] name:_Adamou, Milton...",Jurassic World,Jurassic World (2015),Jurassic World (2015),Jurassic World,Jurassic World (2015),https://images-na.ssl-images-amazon.com/images...,369610

### Parse `genres` into dummy coding
saved in DataFrame 'top500_IMDB_genre', with each genre as a column, and column 'n_genre' counts the number of labels for each movie.

In [15]:
## ideally coule package this code into a function of spliting all variables, input:
# 1. head and tail characters to delet
# 2. split by

gr = top500_IMDB.ix[:, 'genres']

## Split variable `Genres` into list of strings

for i in range(len(gr)):
        # each row in 'genres' column
    st = gr[i]
#### -------------------------- for spliting other variables, change here -------------------------
        # delete the first three character " [u' ", and the last two charactor " '] "
        # split by " ' u "
    ls = st[3:-2].split("', u'") 
        # return a list to the 'genres' column
    gr[i] = ls
    
top500_IMDB_genre = pd.DataFrame(gr)["genres"].str.join(sep='*').str.get_dummies(sep='*')

/Users/wdq/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
top500_IMDB_genre.head()

,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,...,Music,Musical,Mystery,Romance,Sci-Fi,Short,Sport,Thriller,War,Western
0,0,0,0,0,0,0,0,0,0,1,...,0,1,0,1,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
2,0,0,0,1,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
3,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [17]:
## total number of genres
top500_IMDB_genre.shape[1]

23

In [18]:
## number of genres for each movie, saved in variable 'n_genre'
top500_IMDB_genre['n_genre'] = top500_IMDB_genre.sum(axis = 1)

In [19]:
## number of labels for each genre
top500_IMDB_genre_count = top500_IMDB_genre.sum(axis = 0)
top500_IMDB_genre_count

Action          210
Adult             1
Adventure       220
Animation        55
Biography        22
Comedy          112
Crime            77
Documentary       2
Drama           197
Family           74
Fantasy         111
History          12
Horror           42
Music             6
Musical          11
Mystery          79
Romance          55
Sci-Fi          149
Short             1
Sport             3
Thriller        160
War              15
Western           7
n_genre        1621
dtype: int64

In [20]:
## save the new dataframe
top500_IMDB_genre_count.to_csv('IMDB_split_genre.txt')