In [15]:
import pandas as pd
import numpy as np
import urllib
from bs4 import BeautifulSoup
import time
import re
# Use package tmdbsimple to extract data
import tmdbsimple as tmdb
# use "!pip install tmdbsimple" to install
tmdb.API_KEY = '302f3815bea132a8bfe0d7301c9065dd'
import random
import sys
import time

In [16]:
df_tmdb = pd.read_csv('TMDb_data_25K.csv',index_col=0)
df_tmdb.head()

,poster_path,production_countries,revenue,overview,video,id,genres,title,tagline,vote_count,...,imdb_id,adult,backdrop_path,production_companies,release_date,popularity,original_title,budget,vote_average,runtime
0,/eQs5hh9rxrk1m4xHsIz1w11Ngqb.jpg,[u'United States of America'],4300000,It's Ted the Bellhop's first night on the job....,False,5,"[u'Crime', u'Comedy']",Four Rooms,Twelve outrageous guests. Four scandalous requ...,402,...,tt0113101,False,/3EqYpbGCE9S5GddU2K4cYzP5UmI.jpg,"[u'Miramax Films', u'A Band Apart']",12/25/1995,1.048212,Four Rooms,4000000,6.4,98.0
1,NaN,[u'Germany'],0,NaN,False,9,[u'Drama'],Sunday in August,NaN,1,...,tt0425473,False,NaN,[],9/2/2004,0.003213,Sonntag im August,0,1.0,15.0
2,/tvSlBzAdRE29bZe5yYWrJ2ds137.jpg,[u'United States of America'],775398007,Princess Leia is captured and held hostage by ...,False,11,"[u'Adventure', u'Action', u'Science Fiction']",Star Wars,"A long time ago in a galaxy far, far away...",5333,...,tt0076759,False,/4iJfYYoQzZcONB9hNzg0J0wWyPH.jpg,"[u'Lucasfilm', u'Twentieth Century Fox Film Co...",5/25/1977,10.412617,Star Wars,11000000,8.0,121.0
3,/zjqInUwldOBa0q07fOyohYCWxWX.jpg,[u'United States of America'],940335536,A tale which follows the comedic and eventful ...,False,12,"[u'Animation', u'Family']",Finding Nemo,"There are 3.7 trillion fish in the ocean, they...",4426,...,tt0266543,False,/n2vIGWw4ezslXjlP0VNxkp9wqwU.jpg,"[u'Walt Disney Pictures', u'Pixar Animation St...",5/30/2003,4.987594,Finding Nemo,94000000,7.5,100.0
4,/8fzjzQhLXl1afshhsE5Y3MGuco4.jpg,"[u'Germany', u'United Kingdom']",0,Ad??le and her daughter Sarah are traveling on...,False,17,"[u'Horror', u'Thriller', u'Mystery']",The Dark,One of the living for one of the dead.,61,...,tt0411267,False,/pkCC3myn5QuoLzplTlvZLB0w2AU.jpg,"[u'Constantin Film', u'Impact Pictures', u'Isl...",1/26/2006,0.347210,The Dark,0,5.5,87.0

In [17]:
df_imdb = pd.read_csv('imdb_top100_data_parse.txt')
df_imdb.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1,title,genres,director,distributors,year,rating,votes,...,canonical title,editorial department,canonical title.1,long imdb title,long imdb canonical title,smart canonical title,smart long imdb canonical title,full-size cover url,imdb_ids,mpaa_reason
0,0,0,0,Four Rooms,['Comedy'],"['0025978', '0734319', '0001675', '0000233']","['0051881', '0014703', '0080682', '0022594', '...",1995.0,6.7,81543.0,...,Four Rooms,"['0020317', '0003692', '0042901', '0120656', '...",Four Rooms,Four Rooms (1995),Four Rooms (1995),Four Rooms,Four Rooms (1995),https://images-na.ssl-images-amazon.com/images...,113101,"pervasive strong language, sexuality and some ..."
1,1,1,1,"Sonntag, im August",['Short'],['1262754'],NaN,2004.0,6.5,11.0,...,"Sonntag, im August",NaN,"Sonntag, im August","Sonntag, im August (2004)","Sonntag, im August (2004)","Sonntag, im August","Sonntag, im August (2004)",https://images-na.ssl-images-amazon.com/images...,425473,NaN
2,2,2,2,Star Wars,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",['0000184'],"['0000756', '0074275', '20', '0105985', '20', ...",1977.0,8.7,969951.0,...,Star Wars,"['0091250', '0300879', '0366165', '0385492', '...",Star Wars,Star Wars (1977),Star Wars (1977),Star Wars,Star Wars (1977),https://images-na.ssl-images-amazon.com/images...,76759,sci-fi violence and brief mild language
3,3,3,3,Finding Nemo,"['Animation', 'Adventure', 'Comedy', 'Family']","['0004056', '0881279']","['0358618', '0064622', '0000779', '0110125', '...",2003.0,8.1,743705.0,...,Finding Nemo,"['0023224', '1404655', '1733701', '1404694', '...",Finding Nemo,Finding Nemo (2003),Finding Nemo (2003),Finding Nemo,Finding Nemo (2003),https://images-na.ssl-images-amazon.com/images...,266543,NaN
4,4,4,4,The Dark,"['Horror', 'Mystery', 'Thriller']",['0269502'],"['0002257', '0059064', '0022594', '0049085', '...",2005.0,5.4,9415.0,...,"Dark, The","['1262315', '3024002', '1930271', '0996933', '...","Dark, The",The Dark (2005),"Dark, The (2005)","Dark, The","Dark, The (2005)",https://images-na.ssl-images-amazon.com/images...,411267,some violent/disturbing images and language

Based on IMDB dataset, among TMDB prediction features, 'adult', 'poster_path', 'original_title', 'video', 'id', 'homepage', 'backdrop_path' are not informative. 'production_countries', 'spoken_languages', 'production_companies', 'title' included in IMDB. One more thing to pay attention is about language, IMDB "language codes" and "languages" are the same, TMDB has 'original_language'. Should combine IMDB 'languages' + TMDB 'original_language'

In [18]:
imdb_column_drop = ['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1', 'runtimes', 'language codes', 'kind', 'country codes', 'cover url', ]
df_imdb_dropped = df_imdb.drop(imdb_column_drop, axis=1)
df_imdb_dropped.head()

,title,genres,director,distributors,year,rating,votes,languages,producer,mpaa,...,canonical title,editorial department,canonical title.1,long imdb title,long imdb canonical title,smart canonical title,smart long imdb canonical title,full-size cover url,imdb_ids,mpaa_reason
0,Four Rooms,['Comedy'],"['0025978', '0734319', '0001675', '0000233']","['0051881', '0014703', '0080682', '0022594', '...",1995.0,6.7,81543.0,['English'],"['0004744', '0375402', '0483300', '0734319', '...",R,...,Four Rooms,"['0020317', '0003692', '0042901', '0120656', '...",Four Rooms,Four Rooms (1995),Four Rooms (1995),Four Rooms,Four Rooms (1995),https://images-na.ssl-images-amazon.com/images...,113101,"pervasive strong language, sexuality and some ..."
1,"Sonntag, im August",['Short'],['1262754'],NaN,2004.0,6.5,11.0,['German'],['1262754'],NaN,...,"Sonntag, im August",NaN,"Sonntag, im August","Sonntag, im August (2004)","Sonntag, im August (2004)","Sonntag, im August","Sonntag, im August (2004)",https://images-na.ssl-images-amazon.com/images...,425473,NaN
2,Star Wars,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",['0000184'],"['0000756', '0074275', '20', '0105985', '20', ...",1977.0,8.7,969951.0,['English'],"['0476030', '0000184', '0564768']",PG,...,Star Wars,"['0091250', '0300879', '0366165', '0385492', '...",Star Wars,Star Wars (1977),Star Wars (1977),Star Wars,Star Wars (1977),https://images-na.ssl-images-amazon.com/images...,76759,sci-fi violence and brief mild language
3,Finding Nemo,"['Animation', 'Adventure', 'Comedy', 'Family']","['0004056', '0881279']","['0358618', '0064622', '0000779', '0110125', '...",2003.0,8.1,743705.0,['English'],"['1380146', '0005124', '0910237']",NaN,...,Finding Nemo,"['0023224', '1404655', '1733701', '1404694', '...",Finding Nemo,Finding Nemo (2003),Finding Nemo (2003),Finding Nemo,Finding Nemo (2003),https://images-na.ssl-images-amazon.com/images...,266543,NaN
4,The Dark,"['Horror', 'Mystery', 'Thriller']",['0269502'],"['0002257', '0059064', '0022594', '0049085', '...",2005.0,5.4,9415.0,"['English', 'Welsh']","['0027271', '0093337', '0160091', '0397077', '...",R,...,"Dark, The","['1262315', '3024002', '1930271', '0996933', '...","Dark, The",The Dark (2005),"Dark, The (2005)","Dark, The","Dark, The (2005)",https://images-na.ssl-images-amazon.com/images...,411267,some violent/disturbing images and language

In [19]:
# to drop list
tmdb_column_drop = ['adult', 'poster_path', 'original_title', 'video', 'id', 'homepage', 'backdrop_path', 'production_companies', 'production_countries', 'spoken_languages', 'title']
df_tmdb_dropped = df_tmdb.drop(tmdb_column_drop, axis=1)

In [20]:
# rename some columns
for i in range(len(df_tmdb_dropped.columns.values)):
    df_tmdb_dropped.columns.values[i] = df_tmdb_dropped.columns.values[i] + '_TMDB'

In [21]:
df_tmdb_dropped.head()

,revenue_TMDB,overview_TMDB,genres_TMDB,tagline_TMDB,vote_count_TMDB,belongs_to_collection_TMDB,original_language_TMDB,status_TMDB,imdb_id_TMDB,release_date_TMDB,popularity_TMDB,budget_TMDB,vote_average_TMDB,runtime_TMDB
0,4300000,It's Ted the Bellhop's first night on the job....,"[u'Crime', u'Comedy']",Twelve outrageous guests. Four scandalous requ...,402,0,en,Released,tt0113101,12/25/1995,1.048212,4000000,6.4,98.0
1,0,NaN,[u'Drama'],NaN,1,0,de,Released,tt0425473,9/2/2004,0.003213,0,1.0,15.0
2,775398007,Princess Leia is captured and held hostage by ...,"[u'Adventure', u'Action', u'Science Fiction']","A long time ago in a galaxy far, far away...",5333,{u'backdrop_path': u'/d8duYyyC9J5T825Hg7grmaab...,en,Released,tt0076759,5/25/1977,10.412617,11000000,8.0,121.0
3,940335536,A tale which follows the comedic and eventful ...,"[u'Animation', u'Family']","There are 3.7 trillion fish in the ocean, they...",4426,{u'backdrop_path': u'/2hC8HHRUvwRljYKIcQDMyMbL...,en,Released,tt0266543,5/30/2003,4.987594,94000000,7.5,100.0
4,0,Ad??le and her daughter Sarah are traveling on...,"[u'Horror', u'Thriller', u'Mystery']",One of the living for one of the dead.,61,0,en,Released,tt0411267,1/26/2006,0.347210,0,5.5,87.0

In [22]:
columns = []
for i in range(len(df_imdb_dropped.columns.values)):
    columns += [(df_imdb_dropped.columns.values[i])]
for i in range(len(df_tmdb_dropped.columns.values)):
    columns += [(df_tmdb_dropped.columns.values[i])]

In [23]:
# create a dataframe to store information of top 500 popular movies
index = range(len(df_imdb_dropped)) 
df_merged = pd.DataFrame(index = index, columns=columns)
df_merged = df_merged.fillna(0)
df_merged.head()

,title,genres,director,distributors,year,rating,votes,languages,producer,mpaa,...,vote_count_TMDB,belongs_to_collection_TMDB,original_language_TMDB,status_TMDB,imdb_id_TMDB,release_date_TMDB,popularity_TMDB,budget_TMDB,vote_average_TMDB,runtime_TMDB
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
id_not_match_list = []
for i in range(len(df_imdb_dropped)):
    if i not in [5551, 12767, 15224, 24829]:   # these movies have trouble finding TMDB info, should remove later
        if str(df_imdb_dropped.imdb_ids[i]) in df_tmdb_dropped.imdb_id_TMDB[i]:
            for j in range(len(df_imdb_dropped.columns.values)):
                df_merged.loc[i, df_imdb_dropped.columns.values[j]] = df_imdb_dropped.loc[i, df_imdb_dropped.columns.values[j]]
            for j in range(len(df_tmdb_dropped.columns.values)):
                df_merged.loc[i, df_tmdb_dropped.columns.values[j]] = df_tmdb_dropped.loc[i, df_tmdb_dropped.columns.values[j]]
        else:
            id_not_match_list += [i]

In [25]:
print "Number of IDs not match:", len(id_not_match_list)

Number of IDs not match: 0

In [26]:
#df_merged = df_merged.drop([5551, 12767, 15224, 24829])

df_merged = df_merged.drop("imdb_id_TMDB", axis = 1)

In [27]:
df_merged

,title,genres,director,distributors,year,rating,votes,languages,producer,mpaa,...,tagline_TMDB,vote_count_TMDB,belongs_to_collection_TMDB,original_language_TMDB,status_TMDB,release_date_TMDB,popularity_TMDB,budget_TMDB,vote_average_TMDB,runtime_TMDB
0,Four Rooms,['Comedy'],"['0025978', '0734319', '0001675', '0000233']","['0051881', '0014703', '0080682', '0022594', '...",1995.0,6.7,81543.0,['English'],"['0004744', '0375402', '0483300', '0734319', '...",R,...,Twelve outrageous guests. Four scandalous requ...,402,0,en,Released,12/25/1995,1.048212,4000000,6.4,98.0
1,"Sonntag, im August",['Short'],['1262754'],NaN,2004.0,6.5,11.0,['German'],['1262754'],NaN,...,NaN,1,0,de,Released,9/2/2004,0.003213,0,1.0,15.0
2,Star Wars,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",['0000184'],"['0000756', '0074275', '20', '0105985', '20', ...",1977.0,8.7,969951.0,['English'],"['0476030', '0000184', '0564768']",PG,...,"A long time ago in a galaxy far, far away...",5333,{u'backdrop_path': u'/d8duYyyC9J5T825Hg7grmaab...,en,Released,5/25/1977,10.412617,11000000,8.0,121.0
3,Finding Nemo,"['Animation', 'Adventure', 'Comedy', 'Family']","['0004056', '0881279']","['0358618', '0064622', '0000779', '0110125', '...",2003.0,8.1,743705.0,['English'],"['1380146', '0005124', '0910237']",NaN,...,"There are 3.7 trillion fish in the ocean, they...",4426,{u'backdrop_path': u'/2hC8HHRUvwRljYKIcQDMyMbL...,en,Released,5/30/2003,4.987594,94000000,7.5,100.0
4,The Dark,"['Horror', 'Mystery', 'Thriller']",['0269502'],"['0002257', '0059064', '0022594', '0049085', '...",2005.0,5.4,9415.0,"['English', 'Welsh']","['0027271', '0093337', '0160091', '0397077', '...",R,...,One of the living for one of the dead.,61,0,en,Released,1/26/2006,0.347210,0,5.5,87.0
5,Metropolis,"['Drama', 'Sci-Fi']",['0000485'],"['0034406', '0021661', '0023400', '0103079', '...",1927.0,8.3,119193.0,['German'],['0690143'],NaN,...,There can be no understanding between the hand...,552,0,de,Released,1/10/1927,1.558519,92620000,8.0,153.0
6,My Life Without Me,"['Drama', 'Romance']",['0170043'],"['0059453', '0004490', '0030891', '0115739', '...",2003.0,7.6,21762.0,['English'],"['0021948', '0000264', '0306088', '0310452', '...",R,...,NaN,63,0,en,Released,3/7/2003,0.457017,0,7.1,106.0
7,Pirates of the Caribbean: The Curse of the Bla...,"['Action', 'Adventure', 'Fantasy']",['0893659'],"['0044374', '0044279', '0038978', '0148456', '...",2003.0,8.0,853508.0,['English'],"['0000988', '0213226', '0376712', '0648288', '...",PG-13,...,Prepare to be blown out of the water.,5105,{u'backdrop_path': u'/cnKAGbX1rDkAquF2V1wVkptH...,en,Released,7/9/2003,14.278019,140000000,7.4,143.0
8,Kill Bill: Vol. 1,"['Action', 'Crime', 'Thriller']",['0000233'],"['0022594', '0054762', '0102291', '0127137', '...",2003.0,8.1,780067.0,"['English', 'Japanese', 'French']","['0004744', '0411070', '0535338', '2631098', '...",R,...,Go for the kill.,3712,{u'backdrop_path': u'/oCLKNACMNrEf4T1EP6BpMXDl...,en,Released,10/10/2003,4.933327,30000000,7.6,111.0
9,Unforgiven,"['Drama', 'Western']",['0000142'],"['0026840', '0048118', '0077117', '0030761', '...",1992.0,8.3,293826.0,['English'],"['0000142', '0525021', '0883603']",R,...,Some legends will never be forgotten. Some wro...,881,0,en,Released,8/7/1992,2.385589,14000000,7.7,131.0
10,Eternal Sunshine of the Spotless Mind,"['Drama', 'Romance', 'Sci-Fi']",['0327273'],"['0042399', '0059453', '0086123', '0002257', '...",2004.0,8.3,710493.0,['English'],"['1028107', '0106835', '0124239', '0276301', '...",R,...,I already forget how I used to feel about you.,2729,0,en,Released,3/19/2004,5.108665,20000000,7.9,108.0
11,Amores perros,"['Drama', 'Thriller']",['0327944'],"['0070885', '0067354', '0016982', '0005178', '...",2000.0,8.1,182598.0,['Spanish'],"['0037247', '0996852', '0327900', '0998721', '...",R,...,Love. Betrayal. Death.,414,{u'backdrop_path': u'/qW0hrd7AiHh76N10SAoHmtIG...,es,Released,6/16/2000,1.207154,2000000,7.5,154.0
12,8 Mile,"['Drama', 'Music']",['0000436'],"['0005073', '0363485', '0012065', '0097402', '...",2002.0,7.0,198416.0,['English'],"['0271770', '0329084', '0004976', '0000436', '...",R,...,Every moment is another chance.,1221,0,en,Released,11/8/2002,1.555018,41000000,6.7,110.0
13,Paradise Now,"['Crime', 'Drama', 'Thriller', 'War']",['0009463'],"['0125166', '1', '0015030', '0042829', '000225...",2005.0,7.5,20082.0,"['Arabic', 'English']","['1178208', '1486046', '1193981', '0362844', '...",PG-13,...,"From the most unexpected place, come a new ca...",53,0,en,Released,2/14/2005,0.315984,0,6.9,90.0
14,Brazil,"['Drama', 'Sci-Fi']",['0000416'],"['0005073', '0074275', '20', '0051477', '20', ...",1985.0,8.0,158048.0,['English'],"['0144025', '0586969']",R,...,It's only a state of mind.,681,0,en,Released,2/20/1985,2.556644,15000000,7.5,132.0
15,Billy Elliot,"['Drama', 'Music', 'Romance']",['0197636'],"['0004909', '0016464', '0097402', '0125155', '...",2000.0,7.7,102183.0,['English'],"['0104445', '0107231', '0278128', '0663697', '...",PG-13,...,Inside every one of us is a special talent wai...,523,0,en,Released,5/18/2000,1.356518,5000000,7.3,110.0
16,War of the Worlds,"['Adventure', 'Sci-Fi', 'Thriller']",['0000229'],"['0023400', '0067641', '0033954', '0014626', '...",2005.0,6.5,349280.0,['English'],"['1827661', '0005086', '0906048', '0933213']",PG-13,...,They're already here.,1703,0,en,Released,6/23/2005,2.575352,132000000,6.1,116.0
17,Mars Attacks!,"['Comedy', 'Sci-Fi']",['0000318'],"['0026840', '0236212', '0077117', '0030761', '...",1996.0,6.3,179191.0,"['English', 'French']","['0000318', '0213226', '0290581', '0588914', '...",PG-13,...,Nice planet. We'll take it!,1152,0,en,Released,12/12/1996,3.628149,70000000,6.1,106.0
18,Before Sunrise,"['Drama', 'Romance']",['0000500'],"['0026545', '0071509', '0003581', '0134695', '...",1995.0,8.1,197744.0,"['English', 'German', 'French']","['0414423', '0708444', '0769869', '0806189', '...",R,...,Can the greatest romance of your life last onl...,751,{u'backdrop_path': u'/wtNugZq8ZzBYwPIh3VoNUJdk...,en,Released,1/27/1995,0.877297,2500000,7.6,105.0
19,Memento,"['Mystery', 'Thriller']",['0634240'],"['0129644', '0063990', '0000763', '0106142', '...",2000.0,8.5,896268.0,['English'],"['0003545', '0246013', '0753083', '0858799', '...",R,...,Some memories are best forgotten.,2915,0,en,Released,10/20/2000,6.117754,9000000,8.0,113.0
20,Blade Runner,"['Sci-Fi', 'Thriller']",['0000631'],"['0026840', '0106070', '0001933', '0128798', '...",1982.0,8.2,488995.0,"['English', 'German', 'Cantonese', 'Japanese',...","['1361273', '0214303', '0266684', '0446223', '...",R,...,Man has made his match... now it's his problem.,2719,{u'backdrop_path': u'/xiOw9kLNfFPoe3j3J6nHqDTT...,en,Released,6/25/1982,4.927825,28000000,7.8,117.0
21,Before Sunset,"['Drama', 'Romance']",['0000500'],"['0106448', '0026840', '0059995', '0009639', '...",2004.0,8.0,177379.0,"['English', 'French']","['0183397', '0806189', '0908323']",R,...,What if you had a second chance with the one t...,577,{u'backdrop_path': u'/wtNugZq8ZzBYwPIh3VoNUJdk...,en,Released,2/10/2004,0.674432,2700000,7.6,80.0
22,Raiders of the Lost Ark,"['Action', 'Adventure']",['0000229'],"['0023400', '0112372', '0340852', '0184431', '...",1981.0,8.5,699544.0,"['English', 'German', 'Hebrew', 'Spanish', 'Ar...","['0443599', '0000184', '0550881', '0915226']",NaN,...,Indiana Jones - the new hero from the creators...,3118,{u'backdrop_path': u'/6kh59mZizZsttZPR0HAdXk6V...,en,Released,6/12/1981,5.640678,18000000,7.6,115.0
23,Beverly Hills Cop,"['Action', 'Comedy', 'Crime']",['0000976'],"['0023400', '0268251', '0051891', '0054276', '...",1984.0,7.3,132750.0,['English'],"['0000988', '0395116', '0595235', '0800971']",NaN,...,The Heat Is On!,755,{u'backdrop_path': u'/lhZQuT76B9YcxZIudXZMhhWC...,en,Released,11/29/1984,1.030534,15000000,6.8,105.0
24,Las Hurdes,"['Documentary', 'Short']",['0000320'],"['0143761', '0029292', '0052592', '0212402', '...",1933.0,7.6,3935.0,['French'],"['0010375', '0000320']",NaN,...,NaN,18,0,es,Released,12/1/1933,0.189588,20000,6.6,29.0
25,Anatomy of a Murder,"['Crime', 'Drama', 'Mystery', 'Thriller']",['0695937'],"['0071509', '0095798', '0108852', '0302174', '...",1959.0,8.1,48396.0,['English'],['0695937'],NaN,...,No search of human emotions has ever probed so...,172,0,en,Released,7/1/1959,0.703938,0,7.7,160.0
26,Kunstgriff,"['Comedy', 'Short']",['1217417'],NaN,2002.0,6.7,28.0,['None'],['1785940'],NaN,...,NaN,0,0,en,Released,1/1/2002,0.002672,0,0.0,6.0
27,Todo sobre mi madre,['Drama'],['0000264'],"['0040785', '0022869', '0010685', '20', '00071...",1999.0,7.9,72572.0,"['Spanish', 'Catalan']","['0021948', '0747857']",R,...,Part of every woman is a mother/actress/saint/...,239,0,es,Released,4/19/1999,0.913935,8272296,7.3,101.0
28,Léon,"['Crime', 'Drama', 'Thriller']",['0000108'],"['0033410', '0071509', '0014703', '0017313', '...",1994.0,8.6,775031.0,"['English', 'Italian', 'French']","['0078852', '2201716', '0340199', '0000108', '...",R,...,"If you want a job done well, hire a professional.",3253,0,fr,Released,9/14/1994,4.828119,16000000,8.1,110.0
29,Elsker dig for evigt,"['Drama', 'Romance']",['0081540'],"['0041585', '0059453', '0003008', '0004745', '...",2002.0,7.6,8186.0,['Danish'],"['0073020', '0292904', '0421639', '1011849', '...",R,...,NaN,20,0,da,Released,9/6/2002,0.362161,0,6.6,113.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Die innere Sicherheit,['Drama'],['0678857'],"['0030892', '0014252', '0028253', '0155296', '...",2000.0,7.1,1608.0,"['German', 'Portuguese']","['0096567', '0422202', '0462926', '0775338', '...",NaN,...,NaN,4,0,de,Released,9/1/2000,0.139914,3000000,7.0,106.0
71,To Be or Not to Be,"['Comedy', 'War']",['0523932'],"['0026841', '0008003', '0189756', '0038505', '...",1942.0,8.2,20186.0,"['English', 'German']",['0523932'],NaN,...,NaN,94,0,en,Released,3/6/1942,0.328224,0,7.6,99.0
72,Star Trek: First Contact,"['Action', 'Adventure', 'Drama', 'Sci-Fi', 'Th...",['0000408'],"['0023400', '0097402', '0016600', '0000994', '...",1996.0,7.6,101217.0,['English'],"['0075834', '0395208', '0491496']",PG-13,...,Resistance is futile.,573,{u'backdrop_path': u'/r7MMQenUURHhAVHFymtOb8AX...,en,Released,11/21/1996,1.338143,46000000,6.9,111.0
73,Star Trek: Insurrection,"['Action', 'Adventure', 'Sci-Fi', 'Thriller']",['0000408'],"['0023400', '0012065', '0262438', '0142899', '...",1998.0,6.4,58987.0,['English'],"['0075834', '0395208', '0491496', '0683522', '...",PG,...,The battle for paradise has begun.,328,{u'backdrop_path': u'/r7MMQenUURHhAVHFymtOb8AX...,en,Released,12/10/1998,1.286459,70000000,6.3,103.0
74,Mean Streets,"['Crime', 'Drama', 'Thriller']",['0000217'],"['0026840', '0110090', '0050989', '0372744', '...",1973.0,7.4,72271.0,"['English', 'Italian']","['0675049', '0850038']",NaN,...,You don't make up for your sins in church. You...,262,0,en,Released,10/2/1973,0.956666,500000,7.2,110.0
75,Paradise Found,"['Biography', 'Drama']",['0028196'],"['0082557', '0008247', '0008247', '0299302', '...",2003.0,5.9,514.0,['English'],"['0028196', '0050557', '0071406', '0096213', '...",R,...,NaN,2,0,en,Released,1/1/2003,0.008480,0,7.5,89.0
76,The Terminator,"['Action', 'Sci-Fi']",['0000116'],"['0001995', '0074275', '20', '0057746', '00273...",1984.0,8.0,635701.0,"['English', 'Spanish']","['0198460', '0316939', '0005036']",NaN,...,Your future is in his hands.,3352,{u'backdrop_path': u'/cpmbkwSxZnKO69V82A9a34tv...,en,Released,10/26/1984,6.149199,6400000,7.3,108.0
77,Volver,"['Comedy', 'Crime', 'Drama', 'Mystery']",['0000264'],"['0007180', '20', '0059453', '0238767', '02420...",2006.0,7.6,80008.0,['Spanish'],"['0021948', '0306088', '0637013']",R,...,Return.,319,0,es,Released,3/16/2006,0.889003,12899867,7.2,121.0
78,Berlin: Die Sinfonie der Grosstadt,['Documentary'],['0752193'],"['0028775', '0046766', '0173039', '0239343', '...",1927.0,7.7,2980.0,NaN,['0005713'],NaN,...,NaN,7,0,en,Released,9/23/1927,0.049840,0,8.1,69.0
79,Rebecca,"['Drama', 'Mystery', 'Romance', 'Thriller']",['0000033'],"['0026841', '0103797', '0008003', '0048285', '...",1940.0,8.2,92763.0,"['English', 'French']",['0006388'],NaN,...,The shadow of this woman darkened their love.,269,0,en,Released,4/12/1940,1.277825,1288000,7.6,130.0
80,Czlowiek z marmuru,['Drama'],['0906667'],"['0084798', '0036600', '0092911', '0045745', '...",1977.0,7.9,2919.0,['Polish'],['0906667'],NaN,...,NaN,15,0,pl,Released,2/25/1977,0.322332,0,5.7,165.0
81,Czlowiek z zelaza,"['Drama', 'History']",['0906667'],"['0006433', '0053637', '0065243', '0066282', '...",1981.0,7.6,2270.0,['Polish'],NaN,NaN,...,NaN,12,0,pl,Released,7/27/1981,0.211374,0,6.0,147.0
82,Der blaue Engel,"['Drama', 'Music']",['0903049'],"['0021661', '0023400', '0103079', '0033257', '...",1930.0,7.8,10877.0,"['German', 'English', 'French']",['0690143'],NaN,...,NaN,43,0,de,Released,3/31/1930,0.197034,0,7.3,108.0
83,Bride of Frankenstein,"['Drama', 'Horror', 'Sci-Fi']",['0001843'],"['0005073', '0035296', '0234421', '0304108', '...",1935.0,7.9,33687.0,['English'],['0480673'],NaN,...,The monster demands a mate.,165,{u'backdrop_path': u'/oR3GHwhvOcjn124b7wOZl9SH...,en,Released,4/21/1935,0.374535,393750,7.4,75.0
84,Rumble Fish,['Drama'],['0000338'],"['0005073', '0187355', '0001757', '0023460', '...",1983.0,7.2,25321.0,['English'],"['0165602', '0000338', '0178887', '0178910', '...",NaN,...,Rusty James can't live up to his brother's rep...,108,0,en,Released,10/20/1983,0.547256,10000000,6.7,94.0
85,The Wanderers,['Drama'],['0442241'],"['0060952', '0097480', '0117461', '0064614', '...",1979.0,7.5,7893.0,['English'],"['0142301', '0404991', '0710388', '0820705']",NaN,...,It was the Wanderer's Against The World...,44,0,en,Released,7/13/1979,0.728452,0,7.1,117.0
86,Das Cabinet des Dr. Caligari,"['Fantasy', 'Horror', 'Mystery', 'Thriller']",['0927468'],"['0069975', '0011209', '0057466', '0264455', '...",1920.0,8.1,41975.0,['German'],"['0576901', '0690143']",NaN,...,You must become Caligari.,211,0,de,Released,2/25/1920,0.459079,18000,7.7,78.0
87,Stand by Me,"['Adventure', 'Drama']",['0001661'],"['0071509', '0372744', '0070977', '0037052', '...",1986.0,8.1,288170.0,['English'],"['0262595', '0317279', '0770650']",NaN,...,"For some, it's the last real taste of innocenc...",1157,0,en,Released,8/7/1986,2.362874,8000000,7.7,89.0
88,Young Adam,"['Crime', 'Drama']",['0533284'],"['0014453', '0028075', '0051199', '0128211', '...",2003.0,6.5,11833.0,['English'],"['0077365', '0188902', '0429134', '1040781', '...",NC-17,...,Everyone has a past. Everyone has a secret.,35,0,en,Released,9/26/2003,0.447266,6400000,5.9,93.0
89,Some Like It Hot,"['Comedy', 'Romance']",['0000697'],"['0026841', '0052819', '0015327', '0304136', '...",1959.0,8.3,185701.0,['English'],"['0224634', '0365561', '0000697']",NaN,...,The movie too HOT for words!,584,0,en,Released,3/18/1959,2.410459,2883848,7.9,122.0
90,Natural Born Killers,"['Crime', 'Drama']",['0000231'],"['0026840', '0152990', '0077117', '0030761', '...",1994.0,7.3,181007.0,"['English', 'Navajo', 'Japanese']","['0305405', '0359100', '0586969', '0609861', '...",R,...,The Media Made Them Superstars.,719,0,en,Released,8/25/1994,1.390461,34000000,6.9,119.0
91,The Godfather: Part III,"['Crime', 'Drama']",['0000338'],"['0023400', '0097402', '0142899', '0016600', '...",1990.0,7.6,285287.0,"['English', 'Italian', 'German', 'Latin']","['0000338', '0292875', '0297209', '0300832', '...",R,...,All the power on earth can't change destiny.,1175,{u'backdrop_path': u'/3WZTxpgscsmoUk81TuECXdFO...,en,Released,12/24/1990,2.057206,54000000,7.0,162.0
92,King Kong,"['Adventure', 'Horror', 'Sci-Fi']","['0178260', '0774325']","['0041421', '0026018', '0119009', '0226417', '...",1933.0,7.9,67115.0,['English'],"['0006388', '0178260', '0774325']",NaN,...,A Monster of Creation's Dawn Breaks Loose in O...,273,"{u'backdrop_path': None, u'poster_path': None,...",en,Released,4/7/1933,1.110945,672000,7.7,100.0
93,Pocketful of Miracles,"['Comedy', 'Drama']",['0001008'],"['0026841', '0103797', '0214460', '0373083', '...",1961.0,7.3,4572.0,"['English', 'American Sign Language', 'Spanish']","['0001008', '0001229', '0803161']",NaN,...,You have to see it to believe it!,20,0,en,Released,12/18/1961,0.357395,2900000,7.2,136.0
94,I Kina spiser de hunde,"['Action', 'Comedy', 'Crime']",['0647718'],"['0045966', '0113335', '0159100', '0019532', '...",1999.0,7.5,16836.0,"['Danish', 'English', 'Serbo-Croatian', 'German']","['0105412', '0378808']",NaN,...,NaN,68,{u'backdrop_path': u'/jeH6MaDD1CnZ8TLupBAi0DYW...,da,Released,9/10/1999,0.409760,0,7.4,91.0
95,Oliver Twist,"['Crime', 'Drama']",['0000591'],"['0026545', '0005883', '0059453', '0003581', '...",2005.0,6.9,26518.0,['English'],"['0071452', '0123135', '0603176', '0000591', '...",PG-13,...,NaN,205,0,en,Released,9/23/2005,0.777987,50000000,6.7,130.0
96,Domicile conjugal,"['Comedy', 'Drama']",['0000076'],"['0013040', '0108044', '2', '0236066', '007150...",1970.0,7.6,6044.0,['French'],"['0073338', '3848025', '3848711', '0000076']",NaN,...,NaN,31,{u'backdrop_path': u'/hT6f042PKqsMjt0t8vPEE7yo...,fr,Released,8/31/1970,0.288236,0,6.8,100.0
97,L'amour en fuite,"['Comedy', 'Drama', 'Romance']",['0000076'],"['0001757', '0065427', '0497177', '0106006', '...",1979.0,7.1,4554.0,['French'],['0000076'],NaN,...,NaN,14,{u'backdrop_path': u'/hT6f042PKqsMjt0t8vPEE7yo...,fr,Released,1/24/1979,0.227330,0,6.6,89.0
98,The 39 Steps,"['Mystery', 'Thriller']",['0000033'],"['0105966', '0026280', '0189756', '0038179', '...",1935.0,7.8,41688.0,['English'],"['0049608', '0598749']",NaN,...,Handcuffed to the girl who double-crossed him.,181,0,en,Released,6/1/1935,0.407611,0,7.4,87.0
99,Carne trémula,['Drama'],['0000264'],"['0056364', '0026203', '0059786', '0007180', '...",1997.0,7.5,23729.0,"['Spanish', 'Italian', 'Bulgarian']",['0021948'],R,...,"Life, love, desire... and everything in between.",61,0,es,Released,10/28/1997,0.314340,103,7.1,103.0

-----

### Merge genres

In [28]:
# function genre_assign
# input: genres for one movie, string type
# output: a string list, which are corresponding columns names for the genres of input movie 
def genre_assign(genre_temp):
    columns_list = ['Action', 'Adventure', 'Comedy', 'Crime', 'Fantasy', 'Family', 'Romance', 'Horror', 'Reality-TV', 'Western', 'Documentary', 'Biography', 'News', 'Film-Noir', 'Drama', 'Animation', 'Sci-Fi', 'Thriller', 'Short', 'Mystery', 'Sport', 'War', 'History', 'Game-Show', 'Music', 'Musical', 'Talk-Show', 'Foreign', 'TV movie']
    genre_list = []
    for i in columns_list:
        if i in genre_temp:
            genre_list += [i]
    if "Sci-Fi" not in genre_list:
        if "Science Fiction" in genre_temp:
            genre_list += ['Sci-Fi']
    return genre_list

In [29]:
# create a dataframe to store genres
columns = ['Action', 'Adventure', 'Comedy', 'Crime', 'Fantasy', 'Family', 'Romance', 'Horror', 'Reality-TV', 'Western', 'Documentary', 'Biography', 'News', 'Film-Noir', 'Drama', 'Animation', 'Sci-Fi', 'Thriller', 'Short', 'Mystery', 'Sport', 'War', 'History', 'Game-Show', 'Music', 'Musical', 'Talk-Show', 'Foreign', 'TV movie']
index = range(len(df_merged))
df_merge_y = pd.DataFrame(index = index, columns=columns)
df_merge_y = df_merge_y.fillna(0)

In [30]:
for i in range(len(df_merged)):
    genre_temp = str(df_tmdb.loc[i, "genres"]) + str(df_imdb.loc[i, "genres"])
    column_list_temp = genre_assign(genre_temp)
    for column in column_list_temp:
        df_merge_y.loc[i, column] = 1

In [31]:
df_merge_y.head()

,Action,Adventure,Comedy,Crime,Fantasy,Family,Romance,Horror,Reality-TV,Western,...,Mystery,Sport,War,History,Game-Show,Music,Musical,Talk-Show,Foreign,TV movie
0,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0

In [33]:
# remove genres from merged dataframe
df_merged = df_merged.drop(["genres", "genres_TMDB"], axis = 1)

In [34]:
# write the dataframe out
df_merged.to_csv(('feature_multi_25K.csv'))
df_merge_y.to_csv('genre_multi_25K.csv')

---------------