In [18]:
import pandas as pd
import numpy as np
import urllib
from bs4 import BeautifulSoup
import time
import re
# Use package tmdbsimple to extract data
import tmdbsimple as tmdb
# use "!pip install tmdbsimple" to install
tmdb.API_KEY = '302f3815bea132a8bfe0d7301c9065dd'
import random
import sys
import time
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [24]:
# Function score_genre
# input: two pandas dataframes, 
    # genre_real: predicted values
    # genre_predict: real values
# output: mean accuracy of prediction
# accuracy score here is defined as 
    # (intersection between real and predicted vectors) / (union between real and predicted vectors)

def score_genre(genre_real, genre_predict):
    count_row = len(genre_real)
    if count_row == 0:
        print "No data in dataframe!"
        return
    if count_row != len(genre_predict):
        print "Different length of predicted and real dataframes!"
        return
    count_col = len(genre_real.columns)
    if count_col == 0:
        print "No data in dataframe!"
        return
    if count_col != len(genre_predict.columns):
        print "Different genres of predicted and real dataframes!"
        return
    accuracy_genre = 0.0
    for i in range(count_row):
        count_intersection = 0.0
        count_unity = 0.0
        accuracy_temp = 0.0
        for j in range(len(genre_real.columns)):
            if genre_real.iloc[i][j] == 1 or genre_predict.iloc[i][j] == 1:
                count_unity += 1.0
            if genre_real.iloc[i][j] == 1 and genre_predict.iloc[i][j] == 1:
                count_intersection += 1.0 
        if count_unity == 0: # a few ovservations has no genre assigned, delete these values from evaluation
            count_row = count_row - 1
        else:
            accuracy_temp = count_intersection / count_unity
            accuracy_genre += accuracy_temp
    if count_row <= 0:
        print "No meaning value!"
        return
    return (accuracy_genre/count_row)

In [25]:
genre = pd.read_csv('genre_final.csv',index_col=0)
genre.head()

,Action,Adventure,Comedy,Crime,Fantasy,Family,Romance,Horror,Western,Documentary,...,Sci-Fi,Thriller,Short,Mystery,Sport,War,History,Music,Foreign,Other
imdb_ids,,,,,,,,,,,,,,,,,,,,,
113101,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
425473,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0.0
76759,1,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0.0
266543,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
411267,0,0,0,0,0,0,0,1,0,0,...,0,1,0,1,0,0,0,0,0,0.0

In [26]:
# genrate 2 datasets to test score function
genre_real = genre[:100]
genre_predict = genre[100:200]

In [29]:
%%time
score_genre(genre, genre)

Wall time: 4min 1s

1.0

In [33]:
# create a dataframe to store information of top 500 popular movies
columns = []
for i in range(len(genre.columns.values)):
    columns += [(genre.columns.values[i])]
index = range(len(genre)) 
genre_test = pd.DataFrame(index = index, columns=columns)
genre_test = genre_test.fillna(0)
genre_test.head()

,Action,Adventure,Comedy,Crime,Fantasy,Family,Romance,Horror,Western,Documentary,...,Sci-Fi,Thriller,Short,Mystery,Sport,War,History,Music,Foreign,Other
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
%%time
score_genre(genre, genre_test)

Wall time: 3min 31s

0.0

In [35]:
# create a dataframe to store information of top 500 popular movies
columns = []
for i in range(len(genre.columns.values)):
    columns += [(genre.columns.values[i])]
index = range(len(genre)) 
genre_test1 = pd.DataFrame(index = index, columns=columns)
genre_test1 = genre_test1.fillna(1)
genre_test1.head()

,Action,Adventure,Comedy,Crime,Fantasy,Family,Romance,Horror,Western,Documentary,...,Sci-Fi,Thriller,Short,Mystery,Sport,War,History,Music,Foreign,Other
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [36]:
%%time
score_genre(genre, genre_test1)

Wall time: 5min 3s

0.11079961190653377